.actorPage__container {
  width: 100%;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.actorPage__card {
  background-color: rgb(23, 27, 42);
  flex-direction: column;
  min-width: 200px;
  padding: 20px;
  width: 80%;
  align-items: center;
  display: flex;
  border-radius: 50px;
}

.actorPage__card img {
  border-radius: 10px;
  width: 200px;
}
