.textBox_movie {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  color: rgb(230, 232, 238);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.textBox_movie img {
  width: 13%;
  min-width: 180px;
  filter: opacity(0.8);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.textBox_movie h2 {
  margin: 10px 0;
  font-size: 35px;
  margin-top: 25px;
}

.textBox_movie p {
  width: 50%;
  margin: 15px 0;
}

.genreList_movie {
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 20px;
  color: grey;
}

.genreList_movie span {
  margin: 0 5px;
}

.textBox_movie .ratingMovie {
  margin-top: 15px;
  width: 80px;
  justify-content: center;
  align-items: center;
  color: rgb(226, 226, 26);
}

.trailers {
  display: flex;

  margin: 30px 0;
  flex-direction: column;
  align-items: center;
}

.trailers iframe {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  margin: 25px;
  border: 2px solid rgb(23, 37, 54);

  border-radius: 10px;
}
