.textBox_movie {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  color: rgb(230, 232, 238);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.textBox_movie img {
  width: 13%;
  min-width: 180px;
  filter: opacity(0.8);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.textBox_movie h2 {
  margin: 10px 0;
  font-size: 35px;
  margin-top: 25px;
}

.textBox_movie p {
  width: 50%;
  margin: 15px 0;
}

.genreList_movie {
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 20px;
  color: grey;
}

.genreList_movie span {
  margin: 0 5px;
}

.textBox_movie .ratingMovie {
  margin-top: 15px;
  width: 80px;
  justify-content: center;
  align-items: center;
  color: rgb(226, 226, 26);
}

.trailers {
  display: flex;
  width: 100%;
  margin: 30px 0;
  padding: 30px 0;

  margin-top: 0;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.trailers iframe {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  margin: 20px;
  border: 2px solid rgb(23, 37, 54);
  height: 240px;

  border-radius: 10px;
}

/* CAST OVERVIEW CONTAINER  */

.castOverview {
  padding: 25px 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.castOverview_row {
  padding: 10px;
  margin-top: 15px;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  width: 80%;
}

.cast_card {
  margin: 0 10px;
  border-radius: 13px;
  background-color: rgb(31, 30, 30);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: all 0.3s;
  height: 400px;
  text-align: center;
}

a {
  text-decoration: none;
}

.cast_card:hover {
  transform: scale(1.02);
}

.cast_card img {
  border-radius: 13px 13px 0 0;
  width: 200px;
  filter: opacity(0.8);
}

.cast_card h2 {
  font-size: 20px;
  margin: 0 10px;
}

.cast_card h3 {
  font-weight: 400;
  font-size: 13px;
  margin: 0 10px;
  margin-bottom: 8px;
  color: rgb(156, 156, 156);
}
