a {
  color: white;
}

.searchResultContainer {
  position: absolute;

  width: 23%;
  z-index: 99;
}

.queryMovie {
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background-color: rgba(28, 29, 32, 0.897);
  border: 1px solid rgba(0, 0, 0, 0.267);
  transition: all 0.5s;
}

.queryMovie:hover {
  transform: scale(1.03);
  color: #6278d8a2;
}

.queryMovie_text {
  display: flex;
  font-size: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
/* NavBar */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  text-align: center;

  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

#navbar h1 {
  color: #00796b;
}

#navbar input {
  width: 110%;
  outline: none;
  padding: 10px 0;
  padding-left: 10px;
  border-radius: 10px;
}

#navbar ul {
  display: flex;
  font-weight: 500;
}

#navbar ul li {
  margin: 0 20px;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.767);
  font-size: 17px;
}

#navbar ul li:hover {
  cursor: pointer;
  color: #00796b;
}

@media (max-width: 600px) {
  #navbar {
    flex-direction: column;
  }

  #navbar ul {
    flex-direction: column;
  }
}

/* Discovery */

#discovery {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.239);
  flex-direction: column;
  color: white;
  width: 80%;
  margin: 40px 0;
  background-color: transparent;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#discovery h2 {
  margin-bottom: 15px;
}

#discoveryRow {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}

::-webkit-scrollbar {
  height: 10px;
  z-index: 99;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  z-index: 99;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(90, 90, 90, 0.205);
  z-index: 99;
}

.discoveryMovie {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: 1px solid rgba(255, 255, 255, 0.082);
  margin: 10px;
  border-radius: 10px;
  height: 390px;
  display: flex;
  align-items: center;
  background-color: rgba(32, 34, 34, 0.089);
  flex-direction: column;
  transition: all 0.5s;
}

.discoveryMovie:hover {
  background-color: rgba(7, 23, 46, 0.308);
  transform: scale(1.03);
  cursor: pointer;
}

.discoveryMovie img {
  border-radius: 10px 10px 0 0;
}

.title {
  margin-top: 10px;
  font-size: 18px;
  padding: 0 5px;
  height: 100%;
  flex-direction: column;

  display: flex;
  margin-bottom: 20px;
}

.discoveryMovie img {
  height: 250px;
}

.ratingMovie {
  border: 1px solid rgba(146, 146, 118, 0.39);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin-bottom: 15px;
  display: flex;
  width: 50%;
  padding: 4px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.ratingMovie .star {
  color: rgba(255, 255, 0, 0.781);
  margin-right: 7px;
}
